*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Tw Cen Mt';
    font-size: 14px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130vh;
    /*background: url('/img/bg.jpg') center center no-repeat;*/
    background: black;
    background-size: cover;
    z-index: -100;
}

header {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: fixed;
    background: black;
    z-index: 1000;
}

nav ul {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size:  1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #2eb0f0;
}

.title {
    padding: 70px 0;
    color: white;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title h1 {
    font-size: 60px;
    line-height: 1.2;
}

.title p {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.title a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    border: 1px solid #2eb0f0;
    color: #2eb0f0;
    padding: 10px 20px;
    margin-right: 30px;
}

.title a.cv {
    color: #121212;
    background-color: #2eb0f0;
    font-weight: 600;
}

h1 span.auto-typing {
    color: #2eb0f0;
}

/*A propos*/

.about {
    padding: 30px 0;
    color: white;
    width: 100%;
    height: auto;
    background: rgb(11, 10, 10);
    text-align: center;                 
}

.about img {
    width: 110px;
    background: #262626;
    border-radius: 50%;
}

.about h2 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    
}

/* skills*/

.skills {
    padding: 30px 0;
    color: white;
    width: 100%;
    height: auto;
    background: black;
    text-align: center;
}

.skills h2 {
    margin: 25px;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.flex {
    gap: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.logo {
    margin: 10px;
    background-color: #454545;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}


.logo img {
    width: 100px;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

/*projets*/

.mes-projets {
    padding: 30px 0;
    background: rgb(11, 10, 10);
    color: white;
    width: 100%;
    height: 95vh;
    text-align: center;
}

.mes-projets h2 {
    margin: 25px;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.flex1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.projet {
    height: auto;
    aspect-ratio: 1/1;
    margin: 10px;
    position: relative;
    
}

.projet a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;

}

.projet img {
    width: 170px;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    filter: brightness(20%);
    transition: filter 0.4s ease-in-out;
}

.projet:hover img {
    filter: brightness(40%);
}

.projet h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    width: fit-content;
}

/*contacts*/

.mes-contacts {
    padding: 50px 0;
    color: white;
    width: 100%;
    height: 35vh;
    background: black;
    text-align: center;                 
}

.flex2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact {
    width: 170px;
    height: auto;
    margin: 15px;
}

.contact img {
    width: 15px;
    height: 100%; 
    margin-right: 5px;
}

